body {
    padding-top: 60px;
}
td.small {
  max-width: 160px;
  width: 160px;
}

/* worklog */
.IssueWorklog {
  max-width: 250px;
  width: 250px;
}
  .worklogTitle {
    border-bottom: 1px solid #ccc;
    padding: .2em .4em;
  }
  .worklogtime {
    font-weight: bold;
    font-style: italic;
    float: right;
  }
  .worklogauthor {
    font-weight: bold;
    display: block;
    float: left;
  }
  .worklogcomment {
    color: #222;
    font-size: .9em;
    line-height: 1em;
    display: none;
    padding: .2em .4em;
  }
    .worklogcomment.active {
      display: block;
    }
    .worklogTimeUpdate {
      display: block;
      font-style: italic;
      margin-top: .5em;
    }


/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }
}


/* login form
----------------------- */
body.login {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.alert {
    margin-left: -30px;
    margin-right: -30px;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}