{% extends "BotchlaJiraBundle::base.html.twig" %}

{% block title %}BotchlaJira : Issues{% endblock %}

{% block body %}
    <h1>Issues</h1>
    <p>Overzicht van alle issues</p>
    <table class="table table-condensed table-striped">
    {% for issue in result %}
        <tr>
          <td class="small">{{ issue.key }}</td>
          <td>{{ issue.fields.summary }}</td>
          <td width="25"></td>
          <td class="actions"></td>
        </tr>
    {% else %}
        <caption>No issues have been found.</caption>
    {% endfor %}
    </table>
{% endblock %}