{% extends "BotchlaJiraBundle::base.html.twig" %}

{% block title %}BotchlaJira : Login{% endblock %}
{% block body %}

{% if error %}
    <div class="alert">{{ error.message }}</div>
{% endif %}

<h1>Please login</h1>
<hr class="soften" />
<form action="" method="post" class="form-horizontal">
    <div class="control-group">
        <label for="username" class="control-label">Username:</label>
        <div class="controls">
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
    </div>

    <div class="control-group">
        <label for="password" class="control-label">Password:</label>
        <div class="controls">
            <input type="password" id="password" name="_password" />
        </div>
    </div>

    <div class="control-group">
        <label for="jiralocation" class="control-label">Jira-Location:</label>
        <div class="controls">
            <input type="text" id="jiralocation" name="jiralocation" value="{{ jiralocation }}" />
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label for="remember_me">Keep me logged in</label><input type="checkbox" id="remember_me" name="_remember_me" checked />
        </div>
    </div>



    <div class="control-group">
        <div class="controls">
            <input type="submit" name="login" class="btn btn-large btn-primary" />
        </div>
    </div>

</form>
{% endblock %}